body {
    margin: 0;
    padding: 0;
}

header {
    background-color:#68A2B9;
    color: azure;
    text-align: center;
    padding: 1em 0;
    font-family: 'New Rocker', system-ui;
    font-weight: 400;
    font-style: normal;
}


header nav h1 {
    display: inline;
    padding-top: 0px;
    color: #E9072B;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav li {
    display: inline;
    margin: 0 20px;
    margin-bottom: 0px;
}

header nav ul li a {
    color: #e1e1e1;
    text-decoration: none;
    font-weight: bold;
}

.active {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    color: #E9072B;
    background-color: transparent;
}

main {
    margin: 10px;
    background-color: #ffffff; /* White background for the main content */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the main content area */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

article {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #302e2f; /* Separator for articles */
}

article h2 {
    color: #333333; /* Dark text for titles */
    margin-bottom: 10px;
    font-family: 'New Rocker', system-ui;
    font-weight: 900;
    font-style: bolder;
}

article h5 {
    color: #333333; /* Dark text for titles */
    margin-bottom: 10px;
    font-family: 'New Rocker', system-ui;
    font-weight: 400;
    font-style: normal;
}
article p {
    color: #413e3e; /* Lighter text for the body */
    line-height: 1.6; /* Improved readability */
    font-size: large;
    text-align-last: auto;
    font-family: 'New Rocker', system-ui;
    font-weight: 400;
    font-style: normal;
}

article img {
    width: 30%;
    height: auto;
    display: block;
    justify-content: center;
    justify-items: center;
}

article img.schedpic {
    width: 50%;
    height: auto;
    display: inline;
    justify-content: center;
    justify-items: center;
}

footer {
    background-color: #68A2B9; /* Matching the header's vibrant purple */
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    font-family: 'New Rocker', system-ui;
    font-weight: 400;
    font-style: normal;
}
