body {background-color: rgb(247, 247, 247);}
h1 {font-family: monospace;}
h1 {text-align: center;}

h2 {font-family: monospace;}
h2 {text-align: center;}

h3 {font-family: monospace;}
h3 {text-align: center;}

h4 {font-family: monospace;}
h4 {text-align: center;}

h5 {font-family: monospace;}
h5 {text-align: center;}

p {font-family: Garamond, serif;}
p {text-align: center;}
p {border: 3px rgb(15, 118, 221);}